*{
    margin: 0;
}
#search{
    display: flex;
    margin: auto;
    position: relative;
    top: 40px;
    width: 30rem;
    height: 30px;
    font-size: 20px;
}
header{
    background-color: white;
    height: 150px;
    box-shadow: 0px 1px 0px 0px;
}

ul{
    list-style: none;
    display: flex;
    gap: 100px;
    justify-content: center;
    position: relative;
    top: 60px;
}
.button{
    border: 0;
    background-color:white;
    font-size: 20px;
    color: black;
    height: 30px;
    border-radius: 10px;
}
.button:hover{
    border-bottom: 2px solid orange;
    background-color: rgba(251, 243, 243, 0.766);
    padding: 5px;

}
#f1{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
p{
    font-size: 30px;
    display: flex;
    margin: auto;
}
input{
    height: 40px;
    width: 30rem;
    font-size: 20px;
    display: flex;
    margin: auto;
}
#submit{
    margin-top: 10px; background-color: orange; border: 0; border-radius: 10px;
}
#submit:hover{
    background-color: rgb(239, 166, 29);
}
#results{
    display:none;
    position: absolute;
    background-color: rgb(249, 245, 245);
    top: 80px;
    left: 20%;
    flex-direction: column;
    width: 30rem;
    font-size: 20px;
    margin: auto;
    z-index: 1;

}

#sr{
    background-color: white;
    border: 2px solid orange;
    border-radius: 10px;
    width: 30rem;
    padding: 5px;
    display: flex;
    margin:auto;
    margin-top: 20px;
}
#b{
    background-color: orange;
    padding: 5px;
    height: 40px;
    font-size: 15px;

}
#b:hover{
    background-color: rgb(239, 166, 29);
    border: 2px solid black;
}
#re{
    border: 2px solid;
    border-radius: 10px;
    padding: 30px;
    width: 50rem;
    display: flex;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
}
#cap{
    font-size: 20px;
    color: white;
    background-color: orange;
    padding: 10px;
    width: 5rem;
    height: 20px;
    border-radius: 10px;
    position:relative;
    top: -40px;
}
#outer{
        display: none;
        border: 2px solid orange;
        width: 50rem;
        height: 60rem;
        font-size:20px ;
        padding: 20px;
        margin: auto;
        margin-top: 30px;
    }
#Ticket{
    display:none;
    border: 2px solid; 
    width: 20rem;
    padding:10px;
    margin: 25%;

}
h1,h2{
    text-align: center;
    color: orange;

}
#BusSeating{
    border: 2px solid orange;

    height: 500px;
  
    width: 700px;
    display: grid;
    
    margin: auto;
   
    grid-template-columns:100px 100px 200px 100px 100px 100px  ;
    
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px ;

}
.input{
    height: 30px;
    font-size: 20px;
    border: 2px solid orange;
    
    
}
.seats{
    border: 2px solid orange;
    border-radius: 50%;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: white;
}
.seats:hover{
    background-color: orange;
}
label{
    margin-left: 20px;
    font-size: 20px;
}
button{
    display: flex;
    margin: auto;
    margin-top: 20px;
    font-size: 40px;
    background-color: orange;
    color: white;
    border: 2px;
    border-radius: 10px;
 
    
}
button:hover{
    background-color: rgb(238, 172, 48);
}